---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=parse&format=json&page=Medical_procedure&prop=links&section=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Charset:
      - utf-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 92.55.29.117
    body:
      encoding: UTF-8
      string: '{"parse":{"title":"Medical procedure","pageid":8210888,"links":[{"ns":14,"exists":"","*":"Category:Articles
        with unsourced statements from November 2016"},{"ns":0,"exists":"","*":"Ablation"},{"ns":0,"exists":"","*":"Acupuncture"},{"ns":0,"exists":"","*":"Amputation"},{"ns":0,"exists":"","*":"Angiography"},{"ns":0,"exists":"","*":"Animal-Assisted
        Therapy"},{"ns":0,"exists":"","*":"Antivenom"},{"ns":0,"exists":"","*":"Aortography"},{"ns":0,"exists":"","*":"Apheresis"},{"ns":0,"exists":"","*":"Auscultation"},{"ns":0,"exists":"","*":"Biopsy"},{"ns":0,"exists":"","[...]
